/* --------------- Tailwind ---------------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
/* --------------- Theme ---------------- */
@theme {
    --color-primary: #020617;
    --color-primarySurface: #0f172a;
    --color-brand: #7c3aed;
    --color-Secondary: #d946ef;
}

/* --------------- Animations ---------------- */